.env
.idea/
**/__pycache__/
**/temp/
logs/
reports/
testdata/*.xlsx
playwright_project/**/user_data/
playwright_project/xhr/hars/
pytest_project/allure_project/allure-results/
pytest_project/allure_project/allure-report-plus/