.env
.idea/
**/__pycache__
logs/*.log
reports/*.html
reports/*.md
reports/*.xml
reports/*.log
testdata/*.xlsx
uiauto/**/user_data/
uiauto/xhr/hars/
uiauto/xhr/logs/
uiauto/allure-project/allure-report-plus/
uiauto/allure-project/allure-results/